*{
    box-sizing: border-box;
}

body{
    overflow-y: scroll;
    background-color: #353535;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    font-size: 42px;
    margin: 0 0 16px;
}

h3{
    font-size: 32px;
    font-weight: bold;
}

h5{
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

nav{
    display: flex;
    align-items: space-between;
    justify-content: center;
    gap: 0;
}

.logo{
    margin: 12px 0 24px;
}

.page-wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.company-name{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
button{
    appearance: none;
    display: flex;
    flex-grow: 1;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid #c0c0c0;
    margin: 0px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.menu-button:not(:last-of-type){
    border-right: 0px;
}
button span {
    text-decoration: none;
    transition: font-size 0.3s ease; 
}
button:hover span{
    font-size: 1.2em;
}


.content{
    padding: 24px 0;
}

.meal-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    padding: 28px;
}
.meal-wrapper:not(:last-child){
    border-bottom: 1px #c0c0c0 solid;
}
.meal-wrapper>*{
    margin: 0;
}
.item-name, .item-description{
    grid-column: 1/-1;
    
}

.item-price{
    justify-self: end;
    font-weight: bold;
}